@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <a href="#"><img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" /></a>
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->
        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->
        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" />
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->

        <div class="main-content">
            <div class="content-image">
                <a href="#"><img src="../Media/Image/Layout/iphone-6s-gold-2015-front-8.jpg" /></a>
            </div><!--content-image-->
            <div class="content-title">
                <a href="#">iPhone 6S 16GB Gold</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: $649
            </div><!--content-price-->
        </div><!--main-content-->
