
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h4>Your order has been placed Successfully. Please click @Html.ActionLink("here", "Index","Home") to go to home Page!!!</h4>

