
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="clear"></div>

<h2>Please contact me if you encounter any issue</h2>
<p>Full Name: Oluga Joel</p>
<p>Email: Olugaabiola2020@gmail.com</p>
<p>Facebook: facebook.com/AbiolaOluga</p>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p><b>Captcha Message: @ViewBag.Message</b></p>
}
    <div class="row">
        @using (Html.BeginForm("ValidateCaptcha", "ContactUs", FormMethod.Post, new { id = "contact-form" }))
        {
            <table>
                <tr>
                    <td colspan="3" style="text-align:center;"><b>Send Queries to Us</b></td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td><input type="text" name="cusName" /></td>
                </tr>
                <tr>
                    <td>Customer Phone:</td>
                    <td><input type="text" name="cusPhone" /></td>
                </tr>
                <tr>
                    <td>Customer Email:</td>
                    <td><input type="text" name="cusEmail" /></td>
                </tr>
                <tr>
                    <td>Content:</td>
                    <td>
                        @*<input type="text" name="cusContent" />*@
                        <textarea name="cusContent" rows="10" cols="30"></textarea>
                    </td>
                </tr>
                <tr></tr>
            </table>
            <div class="g-recaptcha" data-sitekey="6LemIpIpAAAAAGgjUcLTdEqYNEj6AL2nU0yow84f"></div>
            <br />
            <input type="submit" value="Submit Form" />



        }
    </div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    $("#contact-form").validate({
        rules: {
            cusName: {
                required: true
            },
            cusPhone: {
                required: true
            },
            cusEmail: {
                required: true
            },
            cusContent: {
                required: true
            }
        }
    });
</script>